#__next {
    height: 100%!important;
}
.dashboard-menu {
    background-color: #00b5ad!important;
    border-radius: 0px!important;
    min-height: 5rem!important;
    margin-bottom: 5rem!important;
}

.dashboard-menu .item {
    font-size: 1.2rem!important;
    font-weight: 600!important;
    color: white!important;
}

.dashboard-menu .item:last-of-type {
    margin-left: auto!important;
}

.dashboard-menu .item:hover {
    cursor: pointer;
    background-color: rgba(0, 145, 138, 0.6) !important;
}

.header-link {
    font-size: 1.5rem!important;
    margin-bottom: 1.5rem!important;
    color: #00b5ad!important;
    display: inline-block;
}

.header-link:hover {
    opacity: 0.8;
}

.card-group {
    margin-bottom: 1px!important;
}

.spinner-wrapper {
    padding-top: calc(50vh - 30px);
}

.card-group-dashboard {
    justify-content: space-between!important;
}

.farms-overview {
    margin-bottom: 5rem!important;
}

.upload-wrapper {
    display: flex;
}

.upload-item {
    text-align: center;
}