.dashboard-menu {
    background-color: #00b5ad!important;
    border-radius: 0px!important;
    min-height: 5rem!important;
}

.dashboard-menu .item {
    font-size: 1.2rem!important;
    font-weight: 600!important;
    color: white!important;
}

.dashboard-menu .item:last-of-type {
    margin-left: auto!important;
}

.dashboard-menu .item:hover {
    cursor: pointer;
    background-color: rgba(0, 145, 138, 0.6) !important;
}